*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}


/* some variable */
:root{
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --orange-color:#ff7e00 ;
    --light-orange-color: #f75f1d;
    --text-color :#1a2428 ;
    --bg-colo: #fff;
}

img{
    width:100%
}

body{
    color:var(--text-color)
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img{
    width:40 ;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile span{
    font-size: 16px;
    font-weight: 500;

}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
    column-gap: 0.5rem;
}
.logo .bx{
    font-size: 24px;
    color:var(--orange-color);
}

.navbar{
    display: flex;
    column-gap: 0.5rem;
}

.navbar a{
    font-size:1rem ;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.5rem 1rem;
}
.navbar a:hover, .navbar .home-active{
  background: var(--green-color); 
  border-radius: 5rem;
  color: var(--bg-color);  
  transition: background-color 0.5s ease;

}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 100001; 
    display : none;
}


/* section */
section{
    padding: 4.5rem 0 0.5rem;
}

